.topnavbar {
  width: auto;
  height: 80px;
  padding: 1rem;

  background: rgba(245, 206, 30, 0.11);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__titles {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 800px;

    h2 {
      font-family: "Archivo Black", sans-serif;
      font-weight: 400;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      font-size: 34px;
    }
  }

  &__actions {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    input {
      border: 0.5px solid rgba(0, 0, 0, 0.5);
      height: 32px;
      padding: 2px 14px 2px 14px;
      outline: 0;
    }

    .placeholder-red::placeholder {
      color: rgba(219, 56, 56, 0.911);
    }

    .placeholder-blue::placeholder {
      color: auto;
    }

    button {
      background: black;
      color: white;
      border: black 2px solid;

      height: 36px;
      padding: 6px 20px 6px 20px;
      font-weight: 600;

      &:hover {
        background: white;
        color: black;
        cursor: pointer;
      }
    }
    .plus {
      display: inline-block;
      transition: transform 0.3s ease;
    }

    &:active .plus {
      animation: spin 0.8s ease-in-out forwards;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
