<header class="topnavbar">
    <section class="topnavbar__titles">
        <h2>KEEP~HABITS</h2>

        <h1>DEVELOPMENT YOUR HABITS</h1>
    </section>

    <section class="topnavbar__actions">
        <input [ngClass]="{'placeholder-red': isError, 'placeholder-blue': !isError}" #newHabitInput type="text"
            [placeholder]="placeholderContent" />

        <button (click)="addHabit(newHabitInput.value); newHabitInput.value = ''">
            <span class="plus">+</span> Add Habit
        </button>
    </section>
</header>