/* You can add global styles to this file, and also import other style files */
* {
  padding: none;
  margin: 0;

  ::selection {
    text-indent: 5px;
    color: white;
    background: black;
  }
}

button {
  border: none;
  background: none;
}
