$padding-top: 1rem;
$habit-width: 180px;
$habit-height: 30px;
$day-size: 30px;
$font-size: 18px;
$input-max-width: 140px;
$mobile-width: 1136px;
$font-archivo-black: "Archivo Black", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

.container {
  padding-top: $padding-top;
}

.habits {
  display: flex;
  justify-content: center;
  font-family: $font-montserrat;
  width: 100vw;

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 2000px;
    flex-wrap: wrap;
  }

  &__habit {
    .bx-trash-alt {
      font-size: $font-size;
    }

    height: $habit-height;
    width: $habit-width;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    input {
      max-width: $input-max-width;
      border: none;
      text-transform: uppercase;
      font-size: $font-size;
      margin: 10px 5px;
      padding: 5px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        border: 2px solid black;
        border-radius: 3px;
      }
    }
  }

  &__day-container {
    display: flex;
    padding-bottom: 10px;
  }

  &__day {
    width: $day-size;
    height: $day-size;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media (max-width: $mobile-width) {
  .habits {
    flex-direction: column;
    align-items: stretch;

    section {
      flex-direction: column;
      align-items: center;
    }

    &__habit {
      width: 90%;

      input {
        width: 100%;
      }
    }

    &__day-container {
      justify-content: start;
      flex-wrap: wrap;
    }

    &__day {
      width: 25px;
      height: 25px;
    }
  }
}
