@for (habit of habits | async; track habit.days) {

<div class="habits">
    <section>
        <p class="habits__habit">
            <i class='bx bxs-trash'></i>
            <input type="text" [value]="habit.name" [(ngModel)]="habit.name" (ngModelChange)="edit(habit)" />
        </p>
        <div class="habits__day-container">
            @for ( day of habit.days; track day.completed;) {
            <div class="habits__day" [ngStyle]="checkedStyle(day.completed)" (click)="edit(habit, day)">
                {{ day.day }}
            </div>
            }
        </div>
    </section>
</div>
}