.habits {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  width: 100vw;

  section {
    display: flex;
    align-items: center;
    width: 1366px;
  }

  &__habit {
    height: 30px;
    width: 180px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    input {
      max-width: 108px;
      border: none;
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  &__day-container {
    display: flex;
    padding-bottom: 10px;
  }

  &__day {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  input {
    margin: 10px 5px;
    padding: 5px;
  }

  button {
    padding: 5px 10px;
  }
}
