<div class="habits" *ngFor="let habit of habits; let h = index">
    <section>
        <p class="habits__habit">{{ habit.name }}</p>
        <div class="habits__day-container">
            <div *ngFor="let day of habit.days; let d = index" class="habits__day"
                [ngStyle]="{'background-color': day.completed ? '#000' : '#fff', 'color': day.completed ? '#fff' : '#000'}"
                (click)="toggleDayStatus(habit, day)">
                {{ day.day }}
            </div>
        </div>
    </section>
</div>