.habits {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  section {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: -120px;
  }

  &__habit {
    height: 30px;
    text-transform: uppercase;
  }

  &__day-container {
    display: flex;
    padding-bottom: 10px;
  }

  &__day {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  input {
    margin: 10px 5px;
    padding: 5px;
  }

  button {
    padding: 5px 10px;
  }
}
